body{background-color: #AEB27D;
    background-image: url(../imagenes/flor-de-loto.jpg);
    background-attachment: fixed;
    background-size: cover;
}

nav a{ 
    text-decoration: none;
    padding: 5px;
    font-size: 10px;

}
.cajamenu, .cajaformulario{background-color: black;
color: black;
padding: 15px;}
h3{
    color: white;
    text-align: center;
}
.cajamenu{
    width: 90px;
    position: relative;
    top: 90px;
    left: 250px;
}
.cajamenu ul{background-color:white;
padding: 8px;}
.cajamenu li{margin-bottom: 8px;}

.cajaformulario{
    width: 170px;
    position: relative;
   top: 90px;
   left: 500px;
}
