body{background-color: beige;}
#titulo{
    font-size: 50px;
    color: cornflowerblue;
    text-shadow: 3px 1px gray;
    text-align: center;
    text-decoration: underline;
}
.menu{
    background-color: darkgray;
   
    display: flex;
}
.menu li{
    list-style: none;
    margin-left: 20px;
    padding: 10px;
}
.menu li:hover{
    background-color: rgba(224, 205, 35, 0.671);
}
.menu a{
    text-decoration: none;
}