body{background-color: #66CCFF;}
#encabezado{
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    border: 2px solid black;
}
#encabezado img{
    width: 1000px;
    height: 100px;
}
.menu{
    color: blueviolet;  
    display: flex;
    justify-content: center;
}
.menu li{
    list-style: none;
    margin: 20px;
    padding: 10px;
}
.menu li:hover{
    background-color: rgb(20, 4, 4);
} 
.linea{
    height: 1px;
    background-color: black;
}
.imagen{
    width: 80px;
    height: 100px;
    display: block;
    margin: 20px auto;
}
.pie{
    text-align: center;
    font-style: italic;
}

.rojo{
    color: red;
    font-weight: 900;
}
.H3{
    text-align: center;
}
