body{background-color: beige;}
.fondoAnimado{
    background-color: blue;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border: 2px solid black;
    transition: all 2s linear 3s;
}

.fondoAnimado:hover{
    background-color: red;
    border-radius: 50%;
}