body{background-color: beige;}

.parrafo{
    background-color: crimson;
    color: aliceblue;
    border: 4px solid blue;
    padding: 10px;
}
.parrafo2{
    background-color: rgb(241, 157, 12);
    color: aliceblue;
    border: 4px solid blue;
    padding: 10px;
}

.parrafo, .parrafo2{
    margin: 30px;
    border-radius: 10px;
    text-align: center;

}